.App {
  text-align: center;
  background-color: rgb(193, 215, 240);
  min-height: 100vh;
}

h1 {
  background-color: rgb(117, 131, 233);
  padding: 10px;
  margin: 0;
}

.card-body {
  background-color: rgb(117, 131, 233);
}
